body{
  background-color: #F0F8FF;
  zoom: 100%;
}

text{
    font-family:Open Sans, Arial, sans-serif;
    font-size:20px;
    pointer-events:none;
}

.roleta{


    /* margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);*/
}

.lista-opcoes{
    position: relative;
    border: groove;
    padding-top: 10px;
    padding-bottom: 10px;
}

.teste {
  text-align: center;
}
