body{
  background-color: #F0F8FF;
  zoom: 100%;
}

text{
    font-family:Open Sans, Arial, sans-serif;
    font-size:20px;
    pointer-events:none;
}

.lista-opcoes{
    position: relative;
    margin: 0;
    border: groove;
    padding-top: 10px;
    padding-bottom: 10px;
}

.teste {
  text-align: center;
}

 .svg-container{
     /**display: inline-block;
     margin: 0 auto;**/
  }