body{
  background-color: #F0F8FF;
}

text{
    font-family:Open Sans, Arial, sans-serif;
    font-size:20px;
    pointer-events:none;
}

.roleta{
    text-align: center;
    margin-top: 40px;
    /* margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);*/
}

.container{
    margin: 0;
    position: absolute;
    top: 90%;
    left: 32%;
    border: groove;
    padding-top: 10px;
    padding-bottom: 10px;
}
